.class-row {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr;
  gap: 20px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #fafafa;
  margin-bottom: 20px;
}

.special-toggle-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
}

.summary-table th,
.summary-table td {
  border: 2px solid #444;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.summary-table .highlight {
  background: #fff4c2;
}

/* موبایل */
@media (max-width: 768px) {
  .class-row {
    grid-template-columns: 1fr;
  }
}

.class-fee-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  min-width: 150px;
  height: 70px;
}

.fee-label {
  font-size: 12px;
  color: #555;
  margin-bottom: 4px;
}

.fee-value {
  font-size: 14px;
  color: black;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

.summary-table th {
  background: #f5f5f5;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ddd;
  text-align: center;
}

.summary-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}

.summary-table .highlight {
  background: #ffeecc;
  font-size: 18px;
}
.support-fee-box {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 180px;
  min-height: 60px;
  justify-content: center;
}

.support-fee-box .fee-label {
  font-size: 13px;
  color: #555;
  margin-bottom: 5px;
}

.support-fee-box .fee-value {
  font-weight: bold;
  color: #111;
  font-size: 16px;
}
