/* ====== فونت وزیری ====== */
@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");

body, * {
  font-family: "Vazir", sans-serif !important;
}

/* ====== تنظیمات ظاهری ====== */
.logo {
  font-family: "Vazir", sans-serif;
}

.site-layout {
  transition: all 0.3s ease;
}

.ant-layout-sider-trigger {
  font-family: "Vazir", sans-serif;
}

/* ===== اصلاح Tooltip برای حالت جمع‌شده‌ی سایدبار در تم روشن ===== */
.ant-tooltip-inner {
  background-color: #1677ff !important; /* آبی هماهنگ با تم */
  color: #fff !important; /* متن سفید */
  font-family: "Vazir", sans-serif !important;
  font-size: 13px;
}

/* مثلث کوچک Tooltip */
.ant-tooltip-arrow::before {
  background-color: #1677ff !important;
}
